/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 360px;
    padding: 32px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 2px solid #cccccc;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.header .title {
    font-size: 2rem;
}

.content .para {
    z-index: 1;
    opacity: 0.8;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
    box-shadow: 8px 8px #000000;
    border-color: #000000;
    transform: translate(-8px, -8px);
}

.button {
    position: relative;
    font-family: inherit;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 4px 0px;
    font-weight: 700;
    line-height: 1.6;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
}

.button span {
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.button::before {
    position: absolute;
    content: "";
    width: 112%;
    height: 1px;
    left: 0%;
    bottom: 0%;
    background: #000000;
    pointer-events: none;
    margin: auto;
    transition: transform 0.64s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
}

.button:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.button:active {
    scale: 0.95;
}