/* From Uiverse.io by TreepDeep */
.overcard {
    display: block;
    width: 305px;
    height: 300px;
    background: lightgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #06060669;
}

.code-card {
    position: relative;
    width: 300px;
    height: auto;
    background: transparent;
    overflow: hidden;
    display: flex;
}

.content-card {
    padding-left: 10px;
    padding-right: 10px;
}

.circles,
.browser {
    height: 30px;
    display: flex;
    align-items: center;
}

.circles {
    width: 20%;
    gap: 8px;
    padding: 10px;
}

.c {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 5px rgba(235, 235, 235, 0.356);
}

.c:first-child {
    background-color: red;
}

.c:nth-child(2) {
    background-color: rgb(204, 167, 4);
}

.c:last-child {
    background-color: green;
}

.browser {
    width: 80%;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.chevrons {
    display: flex;
    /*optional if your card should be bigger:
  margin-left: -??px;*/
}

.search-bar {
    position: relative;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(88, 88, 88);
    box-shadow: inset 1px 1px 2px #05050559;
}

.search-bar svg {
    position: absolute;
    left: 10px;
}