footer {
    flex-shrink: 0;
    background-color: #333;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 20px 10px 20px;
    position: relative;
}

footer::before {
    content: '';
    display: block;
    width: 200px;
    height: 0;
}


.copyright {
    font-size: 0.9rem;
    padding: 5px 0;
}

@media (max-width: 900px) {
    .copyright {
        margin: 5px auto 0 auto;
        font-size: 0.9rem;
    }
}

@media (max-width: 720px) {

    footer {
        flex-direction: column;
        justify-content: center;
    }

    footer::before {
        display: none;
    }

    .copyright {
        margin: 5px auto 0 auto;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .copyright {
        margin: 5px auto 0 auto;
        font-size: 0.6rem;
    }
}