.navbar-container {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    gap: 20px;
    max-width: 880px;
}

@keyframes spin-once {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-circle {
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0px 20px rgba(27, 27, 27, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    flex-shrink: 0;

    transform: rotate(0deg);
}

.logo-circle:hover {
    animation-name: spin-once;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.navbar-logo {
    height: 40px;
    width: 40px;

    object-fit: contain;

    display: block;
}

.wrapper {
    height: 60px;
    width: 90%;
    max-width: 800px;
    background: #fff;
    line-height: 60px;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(27, 27, 27, 0.25);
}

.wrapper nav {
    position: relative;
    display: flex;
    height: 100%;
}

.wrapper nav label {
    flex: 1;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper nav label a {
    position: relative;
    z-index: -1;
    color: #1d1f20;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
}

.wrapper nav label a:hover {
    text-decoration: underline;
}

.wrapper nav #home:checked~label.home a,
.wrapper nav #about:checked~label.about a,
.wrapper nav #skills:checked~label.skills a,
.wrapper nav #projects:checked~label.projects a {
    color: #fff;
}

.wrapper nav .tab {
    position: absolute;
    height: 100%;
    width: 25%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, #6f6f6f 0%, #2e2e2e 100%);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper nav #about:checked~.tab {
    left: 25%;
}

.wrapper nav #skills:checked~.tab {
    left: 50%;
}

.wrapper nav #projects:checked~.tab {
    left: 75%;
}

.wrapper nav input {
    display: none;
}

@media (max-width: 920px) {
    .wrapper nav label a {
        font-size: 16px;
    }

    .navbar-container {
        max-width: 95vw;
    }
}

@media (max-width: 768px) {
    .wrapper nav label a {
        font-size: 16px;
    }

    .navbar-container {
        max-width: 95vw;
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 95vw;
        height: 50px;
        line-height: 50px;
    }

    .wrapper nav label a {
        font-size: 14px;
    }

    .logo-circle {
        height: 50px;
        width: 50px;
    }

    .navbar-logo {
        height: 40px;
        width: 40px;
    }

    .navbar-container {
        gap: 10px;
        max-width: 98vw;
    }
}