.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.2rem;
    text-align: left;
    margin: 10px auto;
}

.hero-content {
    display: flex;
    align-items: normal;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.hero-text {
    flex-grow: 1;
}

.portrait-image {
    max-width: 330px;
    height: auto;
    flex-shrink: 0;
    width: 100%;
    margin: auto;
}

@media (max-width: 920px) {
    .hero-content {
        display: flex;
        align-items: normal;
        gap: 50px;
    }

    .hero-text {
        width: 100%;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    .portrait-image {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero-text {
        width: 100%;
    }

    .title {
        font-size: 2.2rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    .portrait-image {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero-text {
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .portrait-image {
        max-width: 250px;
    }
}