.main-content {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    flex-grow: 1;
    min-height: calc(90vh - 120px);

    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}