.card {
    --border-radius: 0.75rem;
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 20%);
    position: relative;
}

.card .card__content {
    color: var(--secondary-color);
    font-size: 1rem;
}

.card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

/* hover */
.card__title:hover {
    text-decoration: underline;
}