/* From Uiverse.io by elisapi */
.socials {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* FIX: Pushes the element all the way to the right of its container */
    margin-left: auto;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    border-radius: 30px;
}

/* instagram*/
.containerOne:hover {
    background-color: #ffffff;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

/* twitter*/
.containerTwo:hover {
    background-color: #ffffff;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

/* linkdin*/
.containerThree:hover {
    background-color: #ffffff;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #ffffff;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg path {
    fill: rgb(0, 0, 0);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}